APP_HOST=dev-rrhh.mmatdev.com
TRAEFIK_PREFIX=rrhhdev

DB_HOST=172.18.0.1
DB_PORT=3306
DB_USERNAME=rrhh
DB_PASSWORD=CHANGE_ME
DB_DATABASE=rrhh_moderno_dev

JWT_SECRET=CHANGE_ME

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=ministerioecoogia@gmail.com
MAIL_PASS="CHANGE_ME"
MAIL_FROM="RRHH <ministerioecoogia@gmail.com>"

HIK_API_BASE=https://mhikapi.mmatdev.com
HIK_API_KEY=CHANGE_ME
HIK_POLL_INTERVAL_MS=30000
HIK_POLL_LIMIT=200
